<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body {
    background-color: powderblue;
    margin: 0 !important;
    padding: 0 !important;
    /*width: 500;*/
}

/*#frame {
    overflow: hidden;
    width:500;
    height:500;*/
}#battlebutton{
  padding-left: 10px;
}


</style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <center><h1>Battle of Youtubers</h1><center>
        </div>
    </div>
    <br>
    <!-- row requires "row-divided" class -->
    <form action="/testvid" method="POST">
    <center><div class="row row-divided">
        <div class="col-xs-7 column-one">
            <label>Youtuber A:</label>
            <input name="y1"></input>
        </div>
      	<!-- <div class="vertical-divider">or</div> -->
    	<div class="col-xs-3 column-two">
            <label>Youtuber B:</label>
            <input name="y2"></input>
    	</div>
    </div></center>
</div>
<center><button>Battle Now</button></center>
</form>
</body>
</html>
