<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
body {
    background-color: powderblue;
    margin: 0 !important;
    padding: 0 !important;
    /*width: 500;*/
}

/*#frame {
    overflow: hidden;
    width:500;
    height:500;*/
}#battlebutton{
  padding-left: 10px;
}


</style>
</head>
<body>
<center><h1>Battle of Youtubers</h1></center>
  <h2>Youtuber:{{firstYoutuber}}</h2>
  <p>Name of Vid:{{nameVid}}</p>
  <p>Subs: {{subs1}}</p>
  <p>Views: {{views1}}</p>
  <p>Likes:{{likes}}</p>
  <p>Dislikes:{{dislikes}}</p>
  <p>Date Posted/Time: {{datePosted}}</p>

  <h2>Youtuber: {{secYoutuber}}</h2>
  <p>Name of Vid: {{nameVid2}}</p>
  <p>Subs: {{subs2}}</p>
  <p>Views: {{views2}}</p>
  <p>Likes:{{likes2}}</p>
  <p>Dislikes:{{dislikes2}}</p>
  <p>Date Posted/Time: {{datePosted2}}</p>
</body>
</html>
